body{
	background-color: #E8E9D7;
	font-family: 'Ubuntu', sans-serif;

}

#head-title{
	font-size: 40px;
	text-align: center;
	font-weight: 700;
	letter-spacing:5px;
}

#main-window{
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	padding: 40px 40px 70px 40px;
	width: 480px;
	border: 1px solid #C0C1BC;
	background-color: #D7D8CE;
}

.form-item{
	width: auto;
	height: 31px;
	margin-bottom: 15px;
}


input{
	font-size: 20px;
	padding-left: 5px;
	padding-right: 5px;
	width: 298px;
	float: left;
}

input:focus{
	outline: none;
}

label{
	font-size: 20px;
	display: inline-block;
	height: 27px;
	width: 170px;
	float: left;
}

#login{
	font-size: 20px;
	border: 1px solid #C0C1BC;
	border-radius: 5px;
}

#password{
	border: 1px solid #C0C1BC;
	border-radius: 5px;
}
#passwordConfirm{
	border: 1px solid #C0C1BC;
	border-radius: 5px;
}

#e-mail{
	border: 1px solid #C0C1BC;
	border-radius: 5px;
}

#eye{
	font-size: 26px;
	position: relative;
	top: -33px;
	left: 12px;
}

#show-password{
	position: relative;
	background-color: #D7D8CE;
	left: 427px;
	width: 50px;
	height: 23px;
	border: 2px solid #C0C1BC;
	border-radius: 5px;
}

#show-password:hover{
	border: 2px solid #0DCD2C;
}

#submit-button{
	width: 480px;
	font-size: 20px;
	border: 2px solid #C0C1BC;
	font-family: 'Ubuntu', sans-serif;
	border-radius: 5px;
}

#submit-button:hover{
	/*background-color: #75EE89;*/
	border: 2px solid #0DCD2C;
}

/*///////////////////////////////////////////////////////////////////////////// paragraph*/

#paragraph-window{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	padding: 40px;
	width: 480px;
	border: 1px solid #C0C1BC;
	background-color: #D7D8CE;
}

.paragraph-item{
	width: 466px;
	height: 30px;
	border: 2px solid #C0C1BC;
	border-radius: 10px;
	margin-bottom: 10px;
	padding:5px;
	font-size: 20px;
}

.paragraph-item>p{
	margin-top: 0px;
	padding: 4px;
	color: red;
}

